.Author{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 10px 0;
}

.Author img{
    width: 450px;
    height: 350px;
}

@media screen and (max-width: 460px) {
    .Author img{
        width: 100%;
        height: auto;
    }
}