.HomeContent{
    width:100%;
    box-sizing: border-box;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.DarkHome{
    background-color: rgb(29, 29, 29);
    color: white;
}